.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 130px 0 200px;
  background-color: #f1f3ff;
}

.logo {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

.navbar {
  /* border: 1px solid black; */
  gap: 50px;
}

.navbar h5:hover {
  cursor: pointer;
  border-bottom: 2px solid darkslategray;
}

#btn {
  background-color: #5cb85f;
  color: white;
  font-weight: 700;
  border-radius: 0;
}

.btn-nav {
  display: none;
}

.btn-close-nav {
  display: none;
}

.hero {
  width: 100%;
  /* height: 407px; */
  height: fit-content;
  background-color: #f1f3ff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.section1 {
  /* width: fit-content; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid black; */
  padding-left: 200px;
}

.sewa {
  /* border: 1px solid black; */
  font-weight: 700;
  font-size: 36px;
  /* width: 100%; */
}

.desc-rental {
  width: 468px;
  height: 60px;
}

#btn-sewa {
  width: fit-content;
  background-color: #5cb85f;
  color: white;
  font-weight: 500;
  border-radius: 0;
}

.section2 {
  width: 70%;
  /* border: 1px solid black; */
}
.car-img {
  width: 100%;
  /* border: 1px solid black; */
}

.our-service {
  display: flex;
  padding-left: 200px;
  margin-bottom: 50px;
}

.img-service {
  width: 41%;
}

.desc-service {
  width: 50%;
}

.desc-service h3 {
  font-weight: bold;
}

.why-us {
  padding-left: 200px;
  padding-right: 200px;
}

.row h2 {
  font-weight: bold;
}

.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-slider {
  width: 1000px;
  height: 200px;
  background-color: #f1f3ff;
  /* border-radius: 10px; */
}

.card-body {
  background-color: #f1f3ff;
  border: unset;
}

/* .carousel {
  background-color: #f1f3ff;
} */

/* .text-body-primary {
  font-weight: bold;
} */

/* .col-md-4 {
  border: 1px solid black;
} */

.bannerr {
  width: 80%;
  height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d28a6;
  margin-top: 100px;
  color: white;
  text-align: center;
  border-radius: 13px;
}

.faq {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.title-faq {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: left;
}

.list-faq {
  width: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.naf {
  font-weight: bold;
}

@media (max-width: 430px) {
  .navigation {
    padding-left: 10px;
    padding-right: unset;
    /* border: 1px solid black; */
  }

  .navbar {
    display: none;
  }

  .btn-nav {
    display: unset;
    padding-right: 20px;
  }

  .btn-close-nav {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .section1 {
    padding-left: 10px;
  }

  .desc-rental {
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
  }

  .section2 {
    width: unset;
    padding-left: 10px;
    margin-top: 30px;
  }

  .our-service {
    flex-direction: column;
    padding-left: unset;
  }

  .img-service {
    width: unset;
    scale: 0.8;
    justify-content: center;
    padding: unset;
  }

  .desc-service {
    width: unset;
    padding: 0 15px 0 10px;
  }

  ul {
    padding: unset;
  }

  .why-us {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row h2,
  .row p {
    display: flex;
    justify-content: center;
  }

  .card-slider {
    margin: 0 10px 0 10px;
  }

  #profil {
    /* padding: 3rem 10rem 3rem 10rem !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
  }

  .card-body span {
    display: flex;
    justify-content: center;
  }

  .faq {
    flex-direction: column;
    padding: 0 10px 0 10px;
  }

  .title-faq {
    width: unset;
  }

  .list-faq {
    width: unset;
  }

  .footer {
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 0 10px;
  }
}
